<div class="container">
  <mat-card>
    <mat-card-content>
      <p class="title">Menu Item</p>
      <table>
        <tr>
          <th>Title</th>
          <th>Icon</th>
          <th>Route</th>
        </tr>
        <tr>
          <td>{{menuItem.title}}</td>
          <td>
            <mat-icon color="primary">{{menuItem.icon}}</mat-icon>
          </td>
          <td> {{menuItem.route}} </td>
        </tr>
      </table>
      <div *ngIf="menuItem.children.length">
        <p class="title">Submenu(s)</p>
        <table>
          <tr>
            <th>Title</th>
            <th>Route</th>
          </tr>
          <tr *ngFor="let i of menuItem.children">
            <td> {{i.title}} </td>
            <td> {{i.route}} </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-list>
        <mat-list-item>
          <div mat-line>
            <button mat-button color="primary" type="button" (click)="onBack()">
              <mat-icon>arrow_back</mat-icon>
              Back
            </button>
          </div>
          <button mat-button color="accent" type="button">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-actions>
  </mat-card>
</div>