.container {
  padding: 20px;
}

.flex-container {
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
}

._404 {
  font-size: 8em;
  margin: 0;
  padding: 0;
}

.page-not-found {
  font-size: 1,5em;
  font-family: Arial;
  margin: 0;
  padding: 0;
}