<div class="container">
  <mat-card>
    <form [formGroup]="editMenuItemsForm" (ngSubmit)="onEditMenuItem()">
      <div formGroupName="menuItem">
        <mat-card-content>
          <p class="title">Menu Item</p>
          <mat-form-field appearance="legacy">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="legacy" *ngIf="menuItem.route">
            <mat-label>Route</mat-label>
            <input matInput formControlName="route">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Icon</mat-label>
            <input matInput formControlName="icon" #icon>
          </mat-form-field>
          <mat-icon matListIcon color="primary">{{icon.value}}</mat-icon>

          <div formArrayName="children">
            <p *ngIf="menuItem.children[0] !== undefined" class="title">Sub menu(s):</p>
            <div *ngFor="let child of menuItem.children; let i = index" [formGroupName]="i">
              <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Route</mat-label>
                <input matInput formControlName="route">
              </mat-form-field>
              <button mat-icon-button type="button" (click)="onDeleteSubMenuItem()">
                <mat-icon color="warn">remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </div>

      <mat-card-actions>
        <mat-list>
          <mat-list-item>
            <div mat-line>
              <button mat-button color="primary" type="button" (click)="onBack()">
                <mat-icon>arrow_back</mat-icon>
                Back
              </button>
            </div>
            <button mat-button color="accent" type="button">
              <mat-icon>save</mat-icon>
              Save
            </button>
            <button mat-button color="warn" type="button">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </form>
  </mat-card>
</div>